Repository calculation-methods/M8O-303B-21, pull requests merged in 2024-06, with the labels that each got.

#86 Grebneva Olga: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/grebneva/task_3_1/Makefile
  stud/grebneva/task_3_1/answer.txt
  stud/grebneva/task_3_1/input.txt
  stud/grebneva/task_3_1/task_3_1.cpp
  stud/grebneva/task_3_2/Makefile
  stud/grebneva/task_3_2/answer.txt
  stud/grebneva/task_3_2/input.txt
  stud/grebneva/task_3_2/task_3_2.cpp
  stud/grebneva/task_3_3/Makefile
  stud/grebneva/task_3_3/answer.txt
  stud/grebneva/task_3_3/input.txt
  stud/grebneva/task_3_3/task_3_3.cpp
  stud/grebneva/task_3_4/Makefile
  stud/grebneva/task_3_4/answer.txt
  stud/grebneva/task_3_4/input.txt
  stud/grebneva/task_3_4/task_3_4.cpp
  stud/grebneva/task_3_5/Makefile
  stud/grebneva/task_3_5/answer.txt
  stud/grebneva/task_3_5/input.txt
  stud/grebneva/task_3_5/task_3_5.cpp
Labels: ЛР3, Полностью

#87 Zvereva Elizaveta: Lab 3.1 - 3.5
  stud/Zvereva/Lab3.1/task1.cpp
  stud/Zvereva/Lab3.2/task2.cpp
  stud/Zvereva/Lab3.3/task3.cpp
  stud/Zvereva/Lab3.4/task4.cpp
  stud/Zvereva/Lab3.5/task5.cpp
  stud/Zvereva/report3.1/img/img.jpeg
  stud/Zvereva/report3.1/include/3_1.cpp
  stud/Zvereva/report3.1/report.tex
  stud/Zvereva/report3.1/src/lab1.tex
  stud/Zvereva/report3.1/src/titlepage.tex
  stud/Zvereva/report3.1/styles/log-style.sty
  stud/Zvereva/report3.1/styles/titlepage.tex
  stud/Zvereva/report3.2/img/img1.jpeg
  stud/Zvereva/report3.2/img/img2.jpeg
  stud/Zvereva/report3.2/include/3_2.cpp
  stud/Zvereva/report3.2/report.tex
  stud/Zvereva/report3.2/src/lab2.tex
  stud/Zvereva/report3.2/src/titlepage.tex
  stud/Zvereva/report3.2/styles/log-style.sty
  stud/Zvereva/report3.2/styles/titlepage.tex
  stud/Zvereva/report3.3/img/img.jpeg
  stud/Zvereva/report3.3/img/img1.jpeg
  stud/Zvereva/report3.3/include/3_3.cpp
  stud/Zvereva/report3.3/report.tex
  stud/Zvereva/report3.3/src/lab3.tex
  stud/Zvereva/report3.3/src/titlepage.tex
  stud/Zvereva/report3.3/styles/log-style.sty
  stud/Zvereva/report3.3/styles/titlepage.tex
  stud/Zvereva/report3.4/img/img.jpeg
  stud/Zvereva/report3.4/img/img1.jpeg
  stud/Zvereva/report3.4/include/3_4.cpp
  stud/Zvereva/report3.4/report.tex
  stud/Zvereva/report3.4/src/lab4.tex
  stud/Zvereva/report3.4/src/titlepage.tex
  stud/Zvereva/report3.4/styles/log-style.sty
  stud/Zvereva/report3.4/styles/titlepage.tex
  stud/Zvereva/report3.5/img/img.jpeg
  stud/Zvereva/report3.5/include/3_5.cpp
  stud/Zvereva/report3.5/report.tex
  stud/Zvereva/report3.5/src/lab5.tex
  stud/Zvereva/report3.5/src/titlepage.tex
  stud/Zvereva/report3.5/styles/log-style.sty
  stud/Zvereva/report3.5/styles/titlepage.tex
Labels: ЛР3, Полностью, TeX

#92 Zhilin Mikhail: lab 3.1-3.5
  stud/zhilin/Lab3/task_3.1/main.cpp
  stud/zhilin/Lab3/task_3.1/main.py
  stud/zhilin/Lab3/task_3.2/main.cpp
  stud/zhilin/Lab3/task_3.2/main.py
  stud/zhilin/Lab3/task_3.3/main.cpp
  stud/zhilin/Lab3/task_3.3/main.py
  stud/zhilin/Lab3/task_3.4/main.cpp
  stud/zhilin/Lab3/task_3.4/main.py
  stud/zhilin/Lab3/task_3.5/main.cpp
  stud/zhilin/Lab3/task_3.5/main.py
Labels: ЛР3, Полностью

#106 Belov Ilya: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/belov/lab3/answer3.1
  stud/belov/lab3/answer3.2
  stud/belov/lab3/answer3.3
  stud/belov/lab3/answer3.4
  stud/belov/lab3/answer3.5
  stud/belov/lab3/readme
  stud/belov/lab3/task3.1.cpp
  stud/belov/lab3/task3.2.cpp
  stud/belov/lab3/task3.3.cpp
  stud/belov/lab3/task3.4.cpp
  stud/belov/lab3/task3.5.cpp
Labels: ЛР3, Полностью

#79 Saifullin Ildar: 4.1, 4.2
  stud/saifullin/task4.1/Lab4.1.cpp
  stud/saifullin/task4.1/Makefile
  stud/saifullin/task4.1/answer1.txt
  stud/saifullin/task4.2/Lab4.2.cpp
  stud/saifullin/task4.2/Makefile
  stud/saifullin/task4.2/answer2.txt
Labels: ЛР4, Полностью

#116 Kon Yulia: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/kon/Lab3/lab3-1/output/output.txt
  stud/kon/Lab3/lab3-1/task1.cpp
  stud/kon/Lab3/lab3-2/output/output.txt
  stud/kon/Lab3/lab3-2/task2.cpp
  stud/kon/Lab3/lab3-3/output/output.txt
  stud/kon/Lab3/lab3-3/task3.cpp
  stud/kon/Lab3/lab3-4/output/output.txt
  stud/kon/Lab3/lab3-4/task4.cpp
  stud/kon/Lab3/lab3-5/output/output.txt
  stud/kon/Lab3/lab3-5/task5.cpp
Labels: ЛР3, Полностью

#103 Kuchmistov Dmitriy: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/kuchmistov/README.md
  stud/kuchmistov/lab3-1/main.cpp
  stud/kuchmistov/lab3-2/main.cpp
  stud/kuchmistov/lab3-3/main.cpp
  stud/kuchmistov/lab3-4/main.cpp
  stud/kuchmistov/lab3-5/main.cpp
Labels: ЛР3, Полностью

#102 Zhalyaletdinov Murat: 3.1 - 3.5
  stud/zhalyaletdinov/Lab3/task_3.1/main.cpp
  stud/zhalyaletdinov/Lab3/task_3.2/main.cpp
  stud/zhalyaletdinov/Lab3/task_3.3/main.cpp
  stud/zhalyaletdinov/Lab3/task_3.4/main.cpp
  stud/zhalyaletdinov/Lab3/task_3.5/main.cpp
Labels: ЛР3, Полностью

#99 Pervukhin Alexey: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/pervukhin/lab3/laboratory3_1/main.cpp
  stud/pervukhin/lab3/laboratory3_1/output.txt
  stud/pervukhin/lab3/laboratory3_2/cmake-build-debug/output.txt
  stud/pervukhin/lab3/laboratory3_2/main.cpp
  stud/pervukhin/lab3/laboratory3_3/cmake-build-debug/output.txt
  stud/pervukhin/lab3/laboratory3_3/main.cpp
  stud/pervukhin/lab3/laboratory3_4/cmake-build-debug/output.txt
  stud/pervukhin/lab3/laboratory3_4/main.cpp
  stud/pervukhin/lab3/laboratory3_5/cmake-build-debug/output.txt
  stud/pervukhin/lab3/laboratory3_5/main.cpp
Labels: ЛР3, Полностью

#91 Khajrullina Yasmin: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/Khajrullina/Lab3_1/Lab3_1.cpp
  stud/Khajrullina/Lab3_2/Lab3_2.cpp
  stud/Khajrullina/Lab3_3/Lab3_3.cpp
  stud/Khajrullina/Lab3_4/Lab3_4.cpp
  stud/Khajrullina/Lab3_5/Lab3_5.cpp
  stud/Khajrullina/report_3/img/img1_1.jpg
  stud/Khajrullina/report_3/img/img1_2.jpg
  stud/Khajrullina/report_3/img/img2_1.jpg
  stud/Khajrullina/report_3/img/img2_2.jpg
  stud/Khajrullina/report_3/img/img3_1.jpg
  stud/Khajrullina/report_3/img/img3_2.jpg
  stud/Khajrullina/report_3/img/img4_1.jpg
  stud/Khajrullina/report_3/img/img4_2.jpg
  stud/Khajrullina/report_3/img/img5.jpg
  stud/Khajrullina/report_3/include/lab3-1.cpp
  stud/Khajrullina/report_3/include/lab3-2.cpp
  stud/Khajrullina/report_3/include/lab3-3.cpp
  stud/Khajrullina/report_3/include/lab3-4.cpp
  stud/Khajrullina/report_3/include/lab3-5.cpp
  stud/Khajrullina/report_3/report.tex
  stud/Khajrullina/report_3/report_3.pdf
  stud/Khajrullina/report_3/src/lab3.tex
  stud/Khajrullina/report_3/src/titlepage.tex
  stud/Khajrullina/report_3/styles/log-style.sty
Labels: ЛР3, Полностью, TeX

#80 Tysyachnyj Vladyslav: 4.1, 4.2
  stud/TysyachnyjV/Lab_4/Lab_4.1/Lab_4.1.cpp
  stud/TysyachnyjV/Lab_4/Lab_4.2/Lab_4.2.cpp
Labels: ЛР4, Полностью

#93 Saburova Serafima: 3.1 - 3.5
  stud/saburova/Lab3/task_3.1/main.cpp
  stud/saburova/Lab3/task_3.2/main.cpp
  stud/saburova/Lab3/task_3.3/main.cpp
  stud/saburova/Lab3/task_3.4/main.cpp
  stud/saburova/Lab3/task_3.5/main.cpp
Labels: ЛР3, Полностью

#95 Naumov German: 3.1, 3.2, 3.3, 3.4, 3.5
  naumov/README.md
  naumov/lab3-1/main.cpp
  naumov/lab3-2/main.cpp
  naumov/lab3-3/main.cpp
  naumov/lab3-4/main.cpp
  naumov/lab3-5/main.cpp
Labels: ЛР3, Полностью

#94 Goloshumov Michail: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/goloshumov/lab3/task_3.1/task_3.1.cpp
  stud/goloshumov/lab3/task_3.2/base.c
  stud/goloshumov/lab3/task_3.2/read.h
  stud/goloshumov/lab3/task_3.2/task_3.2.c
  stud/goloshumov/lab3/task_3.2/task_3.2matrix.txt
  stud/goloshumov/lab3/task_3.3/base.c
  stud/goloshumov/lab3/task_3.3/read.h
  stud/goloshumov/lab3/task_3.3/task_3.3.c
  stud/goloshumov/lab3/task_3.3/task_3.3matrix.txt
  stud/goloshumov/lab3/task_3.4/base.c
  stud/goloshumov/lab3/task_3.4/read.h
  stud/goloshumov/lab3/task_3.4/task_3.4.c
  stud/goloshumov/lab3/task_3.4/task_3.4matrix.txt
  stud/goloshumov/lab3/task_3.5/task_3.5.c
Labels: ЛР3, Полностью

#101 Budajchiev Gadjirasul: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/budajchiev/Lab3/task_3.1.cpp
  stud/budajchiev/Lab3/task_3.2.cpp
  stud/budajchiev/Lab3/task_3.3.cpp
  stud/budajchiev/Lab3/task_3.4.cpp
  stud/budajchiev/Lab3/task_3.5.cpp
Labels: ЛР3, Полностью

#139 Zhilin Mikhail: 4.1
  stud/zhilin/Lab4/task_3.1/main.cpp
  stud/zhilin/Lab4/task_3.2/main.cpp
Labels: ЛР4, Полностью

#132 Kon Yulia: 4.1, 4.2
  stud/kon/Lab4/lab4-1/output/output.txt
  stud/kon/Lab4/lab4-1/task1.cpp
  stud/kon/Lab4/lab4-2/output/output.txt
  stud/kon/Lab4/lab4-2/task2.cpp
Labels: ЛР4, Полностью

#140 Belov Ilya: 4.1, 4.2
  stud/belov/lab4/answer1.txt
  stud/belov/lab4/answer2.txt
  stud/belov/lab4/main1.cpp
  stud/belov/lab4/main2.cpp
Labels: ЛР4, Полностью

#104 Kon Yulia: 2.1, 2.2
  stud/kon/Lab2/lab2-1/output/output.txt
  stud/kon/Lab2/lab2-1/task1.cpp
  stud/kon/Lab2/lab2-2/output/output.txt
  stud/kon/Lab2/lab2-2/task2.cpp
Labels: ЛР2, Полностью

#134 Trofimov Vladislav labs 4.1,4.2
  stud/trofimov_24/lab4/lab4.1/Makefile
  stud/trofimov_24/lab4/lab4.1/adams.cpp
  stud/trofimov_24/lab4/lab4.1/adams.h
  stud/trofimov_24/lab4/lab4.1/euler.cpp
  stud/trofimov_24/lab4/lab4.1/euler.h
  stud/trofimov_24/lab4/lab4.1/funs.cpp
  stud/trofimov_24/lab4/lab4.1/funs.h
  stud/trofimov_24/lab4/lab4.1/main.cpp
  stud/trofimov_24/lab4/lab4.1/runge_kutt.cpp
  stud/trofimov_24/lab4/lab4.1/runge_kutt.h
  stud/trofimov_24/lab4/lab4.2/Makefile
  stud/trofimov_24/lab4/lab4.2/finite_diff.cpp
  stud/trofimov_24/lab4/lab4.2/finite_diff.h
  stud/trofimov_24/lab4/lab4.2/funcs.cpp
  stud/trofimov_24/lab4/lab4.2/funcs.h
  stud/trofimov_24/lab4/lab4.2/main.cpp
  stud/trofimov_24/lab4/lab4.2/shooting.cpp
  stud/trofimov_24/lab4/lab4.2/shooting.h
Labels: ЛР4, Полностью

#62 trofimov vladislav lab2.1 , lab2.2 done
  .DS_Store
  stud/trofimov_24/lab2/lab2_1/Makefile
  stud/trofimov_24/lab2/lab2_1/iter.cpp
  stud/trofimov_24/lab2/lab2_1/iter.h
  stud/trofimov_24/lab2/lab2_1/main.cpp
  stud/trofimov_24/lab2/lab2_1/newton.cpp
  stud/trofimov_24/lab2/lab2_1/newton.h
  stud/trofimov_24/lab2/lab2_2/Makefile
  stud/trofimov_24/lab2/lab2_2/iter.cpp
  stud/trofimov_24/lab2/lab2_2/iter.h
  stud/trofimov_24/lab2/lab2_2/main.cpp
  stud/trofimov_24/lab2/lab2_2/newton.cpp
  stud/trofimov_24/lab2/lab2_2/newton.h
Labels: ЛР2, Полностью

#123 Grebneva Olga: 4.1, 4.2
  stud/grebneva/task_4_1/Makefile
  stud/grebneva/task_4_1/answer.txt
  stud/grebneva/task_4_1/task_4_1.cpp
  stud/grebneva/task_4_2/Makefile
  stud/grebneva/task_4_2/answer.txt
  stud/grebneva/task_4_2/task_4_2.cpp
Labels: ЛР4, Полностью

#105 Belov Ilya: 2.1, 2.2
  stud/belov/Readme
  stud/belov/lab2/answer1.txt
  stud/belov/lab2/answer2.txt
  stud/belov/lab2/task2.1.cpp
  stud/belov/lab2/task2.2.cpp
Labels: ЛР2, Полностью

#131 Goloshumov Michail: 4.1, 4.2
  stud/goloshumov/lab4/task_4.1/task_4.1.cpp
  stud/goloshumov/lab4/task_4.2/task_4.2.cpp
Labels: ЛР4, Полностью

#118 Khajrullina Yasmin: 4.1, 4.2
  stud/Khajrullina/lab4_1/lab4_1.cpp
  stud/Khajrullina/lab4_2/lab4_2.cpp
  stud/Khajrullina/report_4/img/img1_1.jpg
  stud/Khajrullina/report_4/img/img1_2.jpg
  stud/Khajrullina/report_4/img/img2_1.jpg
  stud/Khajrullina/report_4/img/img2_2.jpg
  stud/Khajrullina/report_4/include/lab4-1.cpp
  stud/Khajrullina/report_4/include/lab4-2.cpp
  stud/Khajrullina/report_4/report.tex
  stud/Khajrullina/report_4/report_4.pdf
  stud/Khajrullina/report_4/src/lab4.tex
  stud/Khajrullina/report_4/src/titlepage.tex
  stud/Khajrullina/report_4/styles/log-style.sty
Labels: ЛР4, Полностью, TeX

#136 Khajrullina Yasmin: report_1
  stud/Khajrullina/report_1/img/img1.jpg
  stud/Khajrullina/report_1/img/img2.jpg
  stud/Khajrullina/report_1/img/img3.jpg
  stud/Khajrullina/report_1/img/img4.jpg
  stud/Khajrullina/report_1/img/img5.jpg
  stud/Khajrullina/report_1/include/lab1-1.c
  stud/Khajrullina/report_1/include/lab1-1m.txt
  stud/Khajrullina/report_1/include/lab1-1v.txt
  stud/Khajrullina/report_1/include/lab1-2.c
  stud/Khajrullina/report_1/include/lab1-2m.txt
  stud/Khajrullina/report_1/include/lab1-2v.txt
  stud/Khajrullina/report_1/include/lab1-3.c
  stud/Khajrullina/report_1/include/lab1-3e.txt
  stud/Khajrullina/report_1/include/lab1-3m.txt
  stud/Khajrullina/report_1/include/lab1-3v.txt
  stud/Khajrullina/report_1/include/lab1-4.c
  stud/Khajrullina/report_1/include/lab1-4e.txt
  stud/Khajrullina/report_1/include/lab1-4m.txt
  stud/Khajrullina/report_1/include/lab1-5.c
  stud/Khajrullina/report_1/include/lab1-5e.txt
  stud/Khajrullina/report_1/include/lab1-5m.txt
  stud/Khajrullina/report_1/include/lab1.c
  stud/Khajrullina/report_1/include/lab1.h
  stud/Khajrullina/report_1/report.tex
  stud/Khajrullina/report_1/report_1.pdf
  stud/Khajrullina/report_1/src/lab1.tex
  stud/Khajrullina/report_1/src/titlepage.tex
  stud/Khajrullina/report_1/styles/log-style.sty
Labels: ЛР1

#135 Khajrullina Yasmin: report_2
  stud/Khajrullina/report_2/img/img1.jpg
  stud/Khajrullina/report_2/img/img2.jpg
  stud/Khajrullina/report_2/include/lab2-1.c
  stud/Khajrullina/report_2/include/lab2-2.c
  stud/Khajrullina/report_2/include/lab2.c
  stud/Khajrullina/report_2/include/lab2.h
  stud/Khajrullina/report_2/report.tex
  stud/Khajrullina/report_2/report_2.pdf
  stud/Khajrullina/report_2/src/lab2.tex
  stud/Khajrullina/report_2/src/titlepage.tex
  stud/Khajrullina/report_2/styles/log-style.sty
Labels: ЛР2

#125 Saburova Serafima: 4.1, 4.2
  stud/saburova/Lab4/lab4_1.cpp
  stud/saburova/Lab4/lab4_1.h
  stud/saburova/Lab4/lab4_2.cpp
  stud/saburova/Lab4/lab4_euler.cpp
  stud/saburova/Lab4/matrix.h
Labels: ЛР4, Полностью

#126 Zhalyaletdinov Murat: 4.1, 4.2
  stud/zhalyaletdinov/Lab4/4_1.cpp
  stud/zhalyaletdinov/Lab4/4_2.cpp
Labels: ЛР4, Полностью

#124 Zhalyaletdinov Murat: 1.1 - 1.5
  stud/zhalyaletdinov/Lab1/task1.cpp
  stud/zhalyaletdinov/Lab1/task2.cpp
  stud/zhalyaletdinov/Lab1/task3.cpp
  stud/zhalyaletdinov/Lab1/task4.cpp
  stud/zhalyaletdinov/Lab1/task5.cpp
Labels: ЛР1

#109 Budajchiev Gadjirasul: 4.1, 4.2
  stud/budajchiev/Lab4/Matrix.h
  stud/budajchiev/Lab4/derivativeMethods.h
  stud/budajchiev/Lab4/task_4.1.cpp
  stud/budajchiev/Lab4/task_4.2.cpp
Labels: ЛР4, Полностью

#110 Budajchiev Gadjirasul: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/budajchiev/Lab1/Matrix.h
  stud/budajchiev/Lab1/task_1.1.cpp
  stud/budajchiev/Lab1/task_1.2.cpp
  stud/budajchiev/Lab1/task_1.3.cpp
  stud/budajchiev/Lab1/task_1.4.cpp
  stud/budajchiev/Lab1/task_1.5.cpp
Labels: ЛР1, Полностью

#88 Ershov Stanislaw: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/ershov_7/Lab3/lab3_1/input_A
  stud/ershov_7/Lab3/lab3_1/input_B
  stud/ershov_7/Lab3/lab3_1/interpolator.hpp
  stud/ershov_7/Lab3/lab3_1/main.cpp
  stud/ershov_7/Lab3/lab3_2/cubic_spline.hpp
  stud/ershov_7/Lab3/lab3_2/input
  stud/ershov_7/Lab3/lab3_2/main.cpp
  stud/ershov_7/Lab3/lab3_2/tridiag.hpp
  stud/ershov_7/Lab3/lab3_3/input
  stud/ershov_7/Lab3/lab3_3/lu.hpp
  stud/ershov_7/Lab3/lab3_3/main.cpp
  stud/ershov_7/Lab3/lab3_3/minimal_square.hpp
  stud/ershov_7/Lab3/lab3_4/input
  stud/ershov_7/Lab3/lab3_4/main.cpp
  stud/ershov_7/Lab3/lab3_4/table_function.hpp
  stud/ershov_7/Lab3/lab3_5/input
  stud/ershov_7/Lab3/lab3_5/integrate.hpp
  stud/ershov_7/Lab3/lab3_5/interpolator.hpp
  stud/ershov_7/Lab3/lab3_5/main.cpp
  stud/ershov_7/Lab3/polynom.hpp
Labels: ЛР3, Полностью

#107 Ershov Stanislaw: 4.1, 4.2
  stud/ershov_7/Lab4/lab4_1/de_utils.hpp
  stud/ershov_7/Lab4/lab4_1/main.cpp
  stud/ershov_7/Lab4/lab4_1/simple_desolve.hpp
  stud/ershov_7/Lab4/lab4_2/boundary_solver.hpp
  stud/ershov_7/Lab4/lab4_2/main.cpp
  stud/ershov_7/Lab4/lab4_2/tridiag.hpp
Labels: ЛР4, Полностью

#119 Subbotina Maria: 4.1, 4.2
  stud/subbotina/LAB4/lab4_1/desolve.h
  stud/subbotina/LAB4/lab4_1/lab4_1.cpp
  stud/subbotina/LAB4/lab4_2/lab4_2.cpp
  stud/subbotina/LAB4/lab4_2/solver.h
  stud/subbotina/LAB4/lab4_2/tridiag.cpp
  stud/subbotina/report/report4.1/img/lab4.1.jpg
  stud/subbotina/report/report4.1/img/usl4.1.jpg
  stud/subbotina/report/report4.1/include/desolve.h
  stud/subbotina/report/report4.1/include/lab4_1.cpp
  stud/subbotina/report/report4.1/report.tex
  stud/subbotina/report/report4.1/src/lab4.1.tex
  stud/subbotina/report/report4.1/src/titlepage.tex
  stud/subbotina/report/report4.1/styles/log-style.sty
  stud/subbotina/report/report4.1/styles/titlepage.tex
  stud/subbotina/report/report4.2/img/lab4.2.jpg
  stud/subbotina/report/report4.2/img/usl4.2.jpg
  stud/subbotina/report/report4.2/include/lab4_2.cpp
  stud/subbotina/report/report4.2/include/solver.h
  stud/subbotina/report/report4.2/include/tridiag.cpp
  stud/subbotina/report/report4.2/report.tex
  stud/subbotina/report/report4.2/src/lab4.2.tex
  stud/subbotina/report/report4.2/src/titlepage.tex
  stud/subbotina/report/report4.2/styles/log-style.sty
  stud/subbotina/report/report4.2/styles/titlepage.tex
Labels: ЛР4, Полностью

#97 Svoevolin Ivan: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/svoevolin/3-1.cpp
  stud/svoevolin/3-2.cpp
  stud/svoevolin/3-3.cpp
  stud/svoevolin/3-4.cpp
  stud/svoevolin/3-5.cpp
  stud/svoevolin/answer3-1.txt
  stud/svoevolin/answer3-2.txt
  stud/svoevolin/answer3-3.txt
  stud/svoevolin/answer3-4.txt
  stud/svoevolin/answer3-5.txt
  stud/svoevolin/matrix.h
Labels: ЛР3, Полностью

#128 Svoevolin Ivan: 4.1, 4.2
  stud/svoevolin/4-1.cpp
  stud/svoevolin/4-2.cpp
  stud/svoevolin/answer4-1.txt
  stud/svoevolin/answer4-2.txt
  stud/svoevolin/matrix.h
Labels: ЛР4, Полностью

#74 Mokhnach Timur: lab 2.1,2.2
  stud/mokhnach/Lab2/lab 2_1/answer.txt
  stud/mokhnach/Lab2/lab 2_1/input copy.txt
  stud/mokhnach/Lab2/lab 2_1/input.txt
  stud/mokhnach/Lab2/lab 2_1/lab2_1.cpp
  stud/mokhnach/Lab2/lab 2_2/answer.txt
  stud/mokhnach/Lab2/lab 2_2/input.txt
  stud/mokhnach/Lab2/lab 2_2/lab2_2.cpp
Labels: ЛР2

#115 Pervukhin Alexey: 4.1, 4.2
  stud/pervukhin/lab4/laboratory4_1/cmake-build-debug/output.txt
  stud/pervukhin/lab4/laboratory4_1/main.cpp
  stud/pervukhin/lab4/laboratory4_2/cmake-build-debug/output.txt
  stud/pervukhin/lab4/laboratory4_2/main.cpp
Labels: ЛР4, Полностью

#130 Batulin Evgeniy: 4.1, 4.2
  stud/batulin/lab4/4.1.cpp
  stud/batulin/lab4/4.2.cpp
Labels: ЛР4, Полностью

#122 Batulin Evgeniy: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/batulin/lab3/3.1.cpp
  stud/batulin/lab3/3.2.cpp
  stud/batulin/lab3/3.3.cpp
  stud/batulin/lab3/3.4.cpp
  stud/batulin/lab3/3.5.cpp
Labels: ЛР3, Полностью

#113 Naumov German: 4.1, 4.2
  stud/naumov/README.md
  stud/naumov/lab4-1/main.cpp
  stud/naumov/lab4-2/main.cpp
Labels: ЛР4, Полностью

#129 Khrushkova Valeria: lab 4.1-4.2
  stud/khrushkova/Lab4/task41.cpp
  stud/khrushkova/Lab4/task42.cpp
Labels: ЛР4, Полностью

#100 Khrushkova Valeria: 3.1 - 3.5
  stud/khrushkova/Lab3/task_3.1/main.cpp
  stud/khrushkova/Lab3/task_3.2/main.cpp
  stud/khrushkova/Lab3/task_3.3/main.cpp
  stud/khrushkova/Lab3/task_3.4/main.cpp
  stud/khrushkova/Lab3/task_3.5/main.cpp
Labels: ЛР3, Полностью

#117 Zvereva Elizaveta: 4.1, 4.2
  stud/Zvereva/4.1/main.cpp
  stud/Zvereva/4.1/report4.1/img/img1.jpeg
  stud/Zvereva/4.1/report4.1/img/img2.jpeg
  stud/Zvereva/4.1/report4.1/include/4.1.cpp
  stud/Zvereva/4.1/report4.1/report.tex
  stud/Zvereva/4.1/report4.1/src/lab4.1.tex
  stud/Zvereva/4.1/report4.1/src/titlepage.tex
  stud/Zvereva/4.1/report4.1/styles/log-style.sty
  stud/Zvereva/4.1/report4.1/styles/titlepage.tex
  stud/Zvereva/4.2/main.cpp
  stud/Zvereva/4.2/report4.2/img/img1.jpeg
  stud/Zvereva/4.2/report4.2/img/img2.jpeg
  stud/Zvereva/4.2/report4.2/include/4.2.cpp
  stud/Zvereva/4.2/report4.2/report.tex
  stud/Zvereva/4.2/report4.2/src/lab4.2.tex
  stud/Zvereva/4.2/report4.2/src/titlepage.tex
  stud/Zvereva/4.2/report4.2/styles/log-style.sty
  stud/Zvereva/4.2/report4.2/styles/titlepage.tex
Labels: ЛР4, Полностью, TeX

#108 Kudriavtsev Andrei: 2.1 2.2
  stud/kudriavtsev/Lab_2/e
  stud/kudriavtsev_13/Task_2.1/Lab_2.1.cpp
  stud/kudriavtsev_13/Task_2.2/Lab_2.2.cpp
Labels: ЛР2
