Repository calculation-methods/M8O-303B-21, pull requests merged in 2024-05, with the labels that each got.

#41 Pervukhin Alexey: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/pervukhin/laboratory1_1/main.cpp
  stud/pervukhin/laboratory1_1/output.txt
  stud/pervukhin/laboratory1_2/main.cpp
  stud/pervukhin/laboratory1_2/output.txt
  stud/pervukhin/laboratory1_3/main.cpp
  stud/pervukhin/laboratory1_3/output.txt
  stud/pervukhin/laboratory1_4/main.cpp
  stud/pervukhin/laboratory1_4/output.txt
  stud/pervukhin/laboratory1_5/main.cpp
  stud/pervukhin/laboratory1_5/output.txt
Labels: ЛР1, Полностью

#47 Saburova Serafima: 1.1-1.5
  stud/saburova/Lab1/LR.cpp
  stud/saburova/Lab1/matrix.cpp
  stud/saburova/Lab1/res/input_1.1.txt
  stud/saburova/Lab1/res/input_1.2.txt
  stud/saburova/Lab1/res/input_1.3.txt
  stud/saburova/Lab1/res/input_1.4.txt
  stud/saburova/Lab1/res/input_1.5.txt
Labels: ЛР1, Полностью

#64 Tysyachnyj Vladyslav: Lab 2.1, 2.2
  stud/TysyachnyjV/Lab_2/Lab_2.1/Lab_2.1.cpp
  stud/TysyachnyjV/Lab_2/Lab_2.2/Lab_2.2.cpp
Labels: ЛР2, Полностью

#72 Zhilin Mikhail: lab 2.1-2.2
  stud/zhilin/Lab2/task_2.1/main.cpp
  stud/zhilin/Lab2/task_2.1/main.py
  stud/zhilin/Lab2/task_2.2/draw_plots.py
  stud/zhilin/Lab2/task_2.2/main.cpp
  stud/zhilin/Lab2/task_2.2/main.py
Labels: ЛР2, Полностью

#73 Khrushkova Valeria: 2.1, 2.2
  stud/khrushkova/Lab2/task_2.1/main.cpp
  stud/khrushkova/Lab2/task_2.2/main.cpp
Labels: ЛР2, Полностью

#76 Saburova Serafima: 2.1-2.2
  stud/saburova/Lab2/main.cpp
Labels: ЛР2, Полностью

#77 Zhalyaletdinov Murat: 2.1, 2.2
  stud/zhalyaletdinov/Lab2/task_1.cpp
  stud/zhalyaletdinov/Lab2/task_2.cpp
Labels: ЛР2, Полностью

#65 Tysyachnyj Vladyslav: Lab 3.1-5
  stud/TysyachnyjV/Lab_3/Lab_3.1/Lab_3.1.cpp
  stud/TysyachnyjV/Lab_3/Lab_3.2/Lab_3.2.cpp
  stud/TysyachnyjV/Lab_3/Lab_3.3/Lab_3.3.cpp
  stud/TysyachnyjV/Lab_3/Lab_3.4/Lab_3.4.cpp
  stud/TysyachnyjV/Lab_3/Lab_3.5/Lab_3.5.cpp
Labels: ЛР3, Полностью

#60 Zvereva Elizaveta: 2.1, 2.2
  stud/zvereva/Lab2/2.1.cpp
  stud/zvereva/Lab2/2.2.cpp
  stud/zvereva/Lab2/report 2.1/img/img.jpeg
  stud/zvereva/Lab2/report 2.1/include/L2.1.cpp
  stud/zvereva/Lab2/report 2.1/report.tex
  stud/zvereva/Lab2/report 2.1/src/lab2.1.tex
  stud/zvereva/Lab2/report 2.1/src/titlepage.tex
  stud/zvereva/Lab2/report 2.1/styles/log-style.sty
  stud/zvereva/Lab2/report 2.1/styles/titlepage.tex
  stud/zvereva/Lab2/report 2.2/img/img.jpg
  stud/zvereva/Lab2/report 2.2/include/L2.2.cpp
  stud/zvereva/Lab2/report 2.2/report.tex
  stud/zvereva/Lab2/report 2.2/src/lab2.2.tex
  stud/zvereva/Lab2/report 2.2/src/titlepage.tex
  stud/zvereva/Lab2/report 2.2/styles/log-style.sty
  stud/zvereva/Lab2/report 2.2/styles/titlepage.tex
Labels: ЛР2, Полностью, TeX

#57 Zvereva Elizaveta: 1.1-1.5
  stud/zvereva/Lab1/report1.1/img/img.jpg
  stud/zvereva/Lab1/report1.1/include/L1_1.cpp
  stud/zvereva/Lab1/report1.1/report.tex
  stud/zvereva/Lab1/report1.1/src/lab1.tex
  stud/zvereva/Lab1/report1.1/src/titlepage.tex
  stud/zvereva/Lab1/report1.1/styles/log-style.sty
  stud/zvereva/Lab1/report1.1/styles/titlepage.tex
  stud/zvereva/Lab1/report1.2/img/img.jpeg
  stud/zvereva/Lab1/report1.2/include/L1_2.cpp
  stud/zvereva/Lab1/report1.2/report.tex
  stud/zvereva/Lab1/report1.2/src/lab2.tex
  stud/zvereva/Lab1/report1.2/src/titlepage.tex
  stud/zvereva/Lab1/report1.2/styles/log-style.sty
  stud/zvereva/Lab1/report1.2/styles/titlepage.tex
  stud/zvereva/Lab1/report1.3/img/img.jpeg
  stud/zvereva/Lab1/report1.3/include/L1_3.1.cpp
  stud/zvereva/Lab1/report1.3/include/L1_3.cpp
  stud/zvereva/Lab1/report1.3/report.tex
  stud/zvereva/Lab1/report1.3/src/lab3.tex
  stud/zvereva/Lab1/report1.3/src/titlepage.tex
  stud/zvereva/Lab1/report1.3/styles/log-style.sty
  stud/zvereva/Lab1/report1.3/styles/titlepage.tex
  stud/zvereva/Lab1/report1.4/img/img.jpeg
  stud/zvereva/Lab1/report1.4/include/L4.cpp
  stud/zvereva/Lab1/report1.4/report.tex
  stud/zvereva/Lab1/report1.4/src/lab4.tex
  stud/zvereva/Lab1/report1.4/src/titlepage.tex
  stud/zvereva/Lab1/report1.4/styles/log-style.sty
  stud/zvereva/Lab1/report1.4/styles/titlepage.tex
  stud/zvereva/Lab1/report1.5/img/img.jpeg
  stud/zvereva/Lab1/report1.5/include/L5.cpp
  stud/zvereva/Lab1/report1.5/report.tex
  stud/zvereva/Lab1/report1.5/src/lab5.tex
  stud/zvereva/Lab1/report1.5/src/titlepage.tex
  stud/zvereva/Lab1/report1.5/styles/log-style.sty
  stud/zvereva/Lab1/report1.5/styles/titlepage.tex
Labels: ЛР1, Полностью

#58 Subbotina Maria: 2.1, 2.2
  stud/subbotina/LAB2/lab2_1/lab2_1.cpp
  stud/subbotina/LAB2/lab2_2/lab2_2.cpp
  stud/subbotina/LAB2/lab2_2/matrix.cpp
  stud/subbotina/LAB2/lab2_2/matrix.h
  stud/subbotina/LAB2/report/report2.1/img/lab2_1.jpg
  stud/subbotina/LAB2/report/report2.1/include/lab2_1.cpp
  stud/subbotina/LAB2/report/report2.1/report.tex
  stud/subbotina/LAB2/report/report2.1/src/lab2.1.tex
  stud/subbotina/LAB2/report/report2.1/src/titlepage.tex
  stud/subbotina/LAB2/report/report2.1/styles/log-style.sty
  stud/subbotina/LAB2/report/report2.1/styles/titlepage.tex
  stud/subbotina/LAB2/report/report2.2/img/lab2_2.jpg
  stud/subbotina/LAB2/report/report2.2/include/lab2_2.cpp
  stud/subbotina/LAB2/report/report2.2/include/matrix.cpp
  stud/subbotina/LAB2/report/report2.2/include/matrix.h
  stud/subbotina/LAB2/report/report2.2/report.tex
  stud/subbotina/LAB2/report/report2.2/src/lab2.2.tex
  stud/subbotina/LAB2/report/report2.2/src/titlepage.tex
  stud/subbotina/LAB2/report/report2.2/styles/log-style.sty
  stud/subbotina/LAB2/report/report2.2/styles/titlepage.tex
Labels: ЛР2, Полностью, TeX

#53 Subbotina Maria: reports lab1.1-1.5
  stud/subbotina/LAB1/report/report1.1/img/lab1.1.jpg
  stud/subbotina/LAB1/report/report1.1/include/lab1_1.cpp
  stud/subbotina/LAB1/report/report1.1/include/matrix.cpp
  stud/subbotina/LAB1/report/report1.1/include/matrix.h
  stud/subbotina/LAB1/report/report1.1/report.tex
  stud/subbotina/LAB1/report/report1.1/src/lab1.1.tex
  stud/subbotina/LAB1/report/report1.1/src/titlepage.tex
  stud/subbotina/LAB1/report/report1.1/styles/log-style.sty
  stud/subbotina/LAB1/report/report1.1/styles/titlepage.tex
  stud/subbotina/LAB1/report/report1.2/img/lab1.2.jpg
  stud/subbotina/LAB1/report/report1.2/include/lab1_2.cpp
  stud/subbotina/LAB1/report/report1.2/include/matrix.cpp
  stud/subbotina/LAB1/report/report1.2/include/matrix.h
  stud/subbotina/LAB1/report/report1.2/report.tex
  stud/subbotina/LAB1/report/report1.2/src/lab1.2.tex
  stud/subbotina/LAB1/report/report1.2/src/titlepage.tex
  stud/subbotina/LAB1/report/report1.2/styles/log-style.sty
  stud/subbotina/LAB1/report/report1.2/styles/titlepage.tex
  stud/subbotina/LAB1/report/report1.3/img/lab1.3.jpg
  stud/subbotina/LAB1/report/report1.3/include/lab1_3.cpp
  stud/subbotina/LAB1/report/report1.3/include/matrix.cpp
  stud/subbotina/LAB1/report/report1.3/include/matrix.h
  stud/subbotina/LAB1/report/report1.3/report.tex
  stud/subbotina/LAB1/report/report1.3/src/lab1.3.tex
  stud/subbotina/LAB1/report/report1.3/src/titlepage.tex
  stud/subbotina/LAB1/report/report1.3/styles/log-style.sty
  stud/subbotina/LAB1/report/report1.3/styles/titlepage.tex
  stud/subbotina/LAB1/report/report1.4/img/lab1.4.jpg
  stud/subbotina/LAB1/report/report1.4/include/lab1_4.cpp
  stud/subbotina/LAB1/report/report1.4/include/matrix.cpp
  stud/subbotina/LAB1/report/report1.4/include/matrix.h
  stud/subbotina/LAB1/report/report1.4/report.tex
  stud/subbotina/LAB1/report/report1.4/src/lab1.4.tex
  stud/subbotina/LAB1/report/report1.4/src/titlepage.tex
  stud/subbotina/LAB1/report/report1.4/styles/log-style.sty
  stud/subbotina/LAB1/report/report1.4/styles/titlepage.tex
  stud/subbotina/LAB1/report/report1.5/img/lab1.5.jpg
  stud/subbotina/LAB1/report/report1.5/include/lab1_5.cpp
  stud/subbotina/LAB1/report/report1.5/include/matrix.cpp
  stud/subbotina/LAB1/report/report1.5/include/matrix.h
  stud/subbotina/LAB1/report/report1.5/report.tex
  stud/subbotina/LAB1/report/report1.5/src/lab1.5.tex
  stud/subbotina/LAB1/report/report1.5/src/titlepage.tex
  stud/subbotina/LAB1/report/report1.5/styles/log-style.sty
  stud/subbotina/LAB1/report/report1.5/styles/titlepage.tex
Labels: ЛР1, Полностью

#48 Erofeeva Ekaterina: 1.1-1.5
  stud/erofeeva/Lab1/task1/LU.cpp
  stud/erofeeva/Lab1/task1/input1-1.txt
  stud/erofeeva/Lab1/task2/ThreeDiagonal.cpp
  stud/erofeeva/Lab1/task2/input1-2.txt
  stud/erofeeva/Lab1/task3/Zeidel.cpp
  stud/erofeeva/Lab1/task3/input1-3.txt
  stud/erofeeva/Lab1/task4/Rotation.cpp
  stud/erofeeva/Lab1/task4/input1-4.txt
  stud/erofeeva/Lab1/task5/QR.cpp
  stud/erofeeva/Lab1/task5/input1-5.txt
Labels: ЛР1

#46 Saifullin Ildar: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/saifullin/task1.1/Lab1.1.cpp
  stud/saifullin/task1.1/Makefile
  stud/saifullin/task1.1/answer.txt
  stud/saifullin/task1.1/column.txt
  stud/saifullin/task1.1/matrix.txt
  stud/saifullin/task1.2/Lab1.2.cpp
  stud/saifullin/task1.2/Makefile
  stud/saifullin/task1.2/answer2.txt
  stud/saifullin/task1.2/column2.txt
  stud/saifullin/task1.2/matrix2.txt
  stud/saifullin/task1.3/Lab1.3.cpp
  stud/saifullin/task1.3/Makefile
  stud/saifullin/task1.3/answer3.txt
  stud/saifullin/task1.3/column3.txt
  stud/saifullin/task1.3/matrix3.txt
  stud/saifullin/task1.4/Lab1.4.cpp
  stud/saifullin/task1.4/Makefile
  stud/saifullin/task1.4/answer4.txt
  stud/saifullin/task1.4/matrix4.txt
  stud/saifullin/task1.5/Lab1.5.cpp
  stud/saifullin/task1.5/Makefile
  stud/saifullin/task1.5/answer5.txt
  stud/saifullin/task1.5/matrix5.txt
Labels: ЛР1, Полностью

#68 Saifullin Ildar: 2.1, 2.2
  stud/saifullin/task2.1/Lab2.1.cpp
  stud/saifullin/task2.1/Makefile
  stud/saifullin/task2.1/answer1.txt
  stud/saifullin/task2.2/Lab2.2.cpp
  stud/saifullin/task2.2/Makefile
  stud/saifullin/task2.2/answer2.txt
Labels: ЛР2, Полностью

#78 Saifullin Ildar: 3.1, 3.2, 3.3, 3.4, 3.5
  stud/saifullin/task3.1/Lab3.1.cpp
  stud/saifullin/task3.1/Makefile
  stud/saifullin/task3.1/answer1.txt
  stud/saifullin/task3.2/Lab3.2.cpp
  stud/saifullin/task3.2/Makefile
  stud/saifullin/task3.2/answer2.txt
  stud/saifullin/task3.3/Lab3.3.cpp
  stud/saifullin/task3.3/Makefile
  stud/saifullin/task3.3/answer3.txt
  stud/saifullin/task3.4/Lab3.4.cpp
  stud/saifullin/task3.4/Makefile
  stud/saifullin/task3.4/answer4.txt
  stud/saifullin/task3.5/Lab3.5.cpp
  stud/saifullin/task3.5/Makefile
  stud/saifullin/task3.5/answer5.txt
Labels: ЛР3, Полностью

#70 Grebneva Olga: 2.1, 2.2
  stud/grebneva/task_2_1/2_1.cpp
  stud/grebneva/task_2_1/Makefile
  stud/grebneva/task_2_1/answer.txt
  stud/grebneva/task_2_1/input.txt
  stud/grebneva/task_2_2/2_2.cpp
  stud/grebneva/task_2_2/Makefile
  stud/grebneva/task_2_2/answer.txt
  stud/grebneva/task_2_2/input.txt
Labels: ЛР2, Полностью

#69 Kuchmistov Dmitriy: 2.1, 2,2
  stud/kuchmistov/README.md
  stud/kuchmistov/lab2-1/main.cpp
  stud/kuchmistov/lab2-2/main.cpp
Labels: ЛР2, Полностью

#24 Goloshumov Michail: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/goloshumov/.gitignore.txt
  stud/goloshumov/Lab1/task_1.1/lab1-1/base.c
  stud/goloshumov/Lab1/task_1.1/lab1-1/lab01-1matrix.txt
  stud/goloshumov/Lab1/task_1.1/lab1-1/lab01-1vector.txt
  stud/goloshumov/Lab1/task_1.1/lab1-1/lab1-1.c
  stud/goloshumov/Lab1/task_1.1/lab1-1/read.h
  stud/goloshumov/Lab1/task_1.2/lab1-1/base.c
  stud/goloshumov/Lab1/task_1.2/lab1-1/lab01-1matrix.txt
  stud/goloshumov/Lab1/task_1.2/lab1-1/lab01-1vector.txt
  stud/goloshumov/Lab1/task_1.2/lab1-1/lab1-1.c
  stud/goloshumov/Lab1/task_1.2/lab1-1/read.h
  stud/goloshumov/Lab1/task_1.3/lab1-1/base.c
  stud/goloshumov/Lab1/task_1.3/lab1-1/lab01-1matrix.txt
  stud/goloshumov/Lab1/task_1.3/lab1-1/lab01-1vector.txt
  stud/goloshumov/Lab1/task_1.3/lab1-1/lab1-1.c
  stud/goloshumov/Lab1/task_1.3/lab1-1/read.h
  stud/goloshumov/Lab1/task_1.4/lab1-1/base.c
  stud/goloshumov/Lab1/task_1.4/lab1-1/lab01-1matrix.txt
  stud/goloshumov/Lab1/task_1.4/lab1-1/lab1-1.c
  stud/goloshumov/Lab1/task_1.4/lab1-1/read.h
  stud/goloshumov/Lab1/task_1.5/lab1-1/base.c
  stud/goloshumov/Lab1/task_1.5/lab1-1/lab01-1matrix.txt
  stud/goloshumov/Lab1/task_1.5/lab1-1/lab1-1.c
  stud/goloshumov/Lab1/task_1.5/lab1-1/read.h
Labels: ЛР1, Полностью

#71 Goloshumov Michail: 2.1, 2.2
  stud/goloshumov/lab2/task_2.1/lab2-1/lab2-1.c
  stud/goloshumov/lab2/task_2.2/base.c
  stud/goloshumov/lab2/task_2.2/read.h
  stud/goloshumov/lab2/task_2.2/task_2.2.c
Labels: ЛР2, Полностью

#25 Khajrullina Yasmin: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/Khajrullina/.gitignore.txt
  stud/Khajrullina/lab1-1/lab1-1/lab1-1.c
  stud/Khajrullina/lab1-1/lab1-1/lab1-1m.txt
  stud/Khajrullina/lab1-1/lab1-1/lab1-1v.txt
  stud/Khajrullina/lab1-1/lab1-1/lab1.c
  stud/Khajrullina/lab1-1/lab1-1/lab1.h
  stud/Khajrullina/lab1-2/lab1-2/lab1-2.c
  stud/Khajrullina/lab1-2/lab1-2/lab1-2m.txt
  stud/Khajrullina/lab1-2/lab1-2/lab1-2v.txt
  stud/Khajrullina/lab1-2/lab1-2/lab1.c
  stud/Khajrullina/lab1-2/lab1-2/lab1.h
  stud/Khajrullina/lab1-3/lab1-3/lab1-3.c
  stud/Khajrullina/lab1-3/lab1-3/lab1-3e.txt
  stud/Khajrullina/lab1-3/lab1-3/lab1-3m.txt
  stud/Khajrullina/lab1-3/lab1-3/lab1-3v.txt
  stud/Khajrullina/lab1-3/lab1-3/lab1.c
  stud/Khajrullina/lab1-3/lab1-3/lab1.h
  stud/Khajrullina/lab1-4/lab1-4/lab1-4.c
  stud/Khajrullina/lab1-4/lab1-4/lab1-4e.txt
  stud/Khajrullina/lab1-4/lab1-4/lab1-4m.txt
  stud/Khajrullina/lab1-4/lab1-4/lab1.c
  stud/Khajrullina/lab1-4/lab1-4/lab1.h
  stud/Khajrullina/lab1-5/lab1-5/lab1-5.c
  stud/Khajrullina/lab1-5/lab1-5/lab1-5e.txt
  stud/Khajrullina/lab1-5/lab1-5/lab1-5m.txt
  stud/Khajrullina/lab1-5/lab1-5/lab1.c
  stud/Khajrullina/lab1-5/lab1-5/lab1.h
Labels: ЛР1, Полностью

#66 Khajrullina Yasmin: 2.1, 2.2
  stud/Khajrullina/.gitignore.txt
  stud/Khajrullina/lab2-1/lab2-1.c
  stud/Khajrullina/lab2-2/lab2-2.c
  stud/Khajrullina/lab2-2/lab2.c
  stud/Khajrullina/lab2-2/lab2.h
Labels: ЛР2, Полностью

#67 Pervukhin Alexey: 2.1, 2.2
  stud/pervukhin/lab2/laboratory2_1/main.cpp
  stud/pervukhin/lab2/laboratory2_1/output.txt
  stud/pervukhin/lab2/laboratory2_2/main.cpp
  stud/pervukhin/lab2/laboratory2_2/output.txt
Labels: ЛР2, Полностью

#54 Belov Ilya: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/belov/lab1/task1.cpp
  stud/belov/lab1/task2.cpp
  stud/belov/lab1/task3.cpp
  stud/belov/lab1/task4.cpp
  stud/belov/lab1/task5.cpp
  stud/belov/readme.md
Labels: ЛР1, Полностью

#40 Mokhnach Timur: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/mokhnach/lab 1_1/A_matrix.txt
  stud/mokhnach/lab 1_1/answer.txt
  stud/mokhnach/lab 1_1/b_vector.txt
  stud/mokhnach/lab 1_1/lab1_1.cpp
  stud/mokhnach/lab 1_2/A_matrix.txt
  stud/mokhnach/lab 1_2/answer.txt
  stud/mokhnach/lab 1_2/b_column.txt
  stud/mokhnach/lab 1_2/lab1_2.cpp
  stud/mokhnach/lab 1_3/A_matrix.txt
  stud/mokhnach/lab 1_3/Accuracy.txt
  stud/mokhnach/lab 1_3/answer.txt
  stud/mokhnach/lab 1_3/b_column.txt
  stud/mokhnach/lab 1_3/lab 1_3.cpp
  stud/mokhnach/lab 1_4/answer.txt
  stud/mokhnach/lab 1_4/input.txt
  stud/mokhnach/lab 1_4/lab1_4.cpp
  stud/mokhnach/lab 1_5/answer.txt
  stud/mokhnach/lab 1_5/input.txt
  stud/mokhnach/lab 1_5/lab1_5.cpp
Labels: ЛР1, Полностью

#56 Budajchiev Gadjirasul: 2.1, 2.2
  stud/budajchiev/Lab2/task_2.1.cpp
  stud/budajchiev/Lab2/task_2.2.cpp
Labels: ЛР2, Полностью

#63 Naumov German: 2.1, 2.2
  stud/naumov/README.md
  stud/naumov/lab2-1/main.cpp
  stud/naumov/lab2-2/main.cpp
Labels: ЛР2, Полностью

#43 Ershov Stanislaw, lab 1, #2, #3, #4, #5
  stud/ershov_7/Lab1/lab1_2/input
  stud/ershov_7/Lab1/lab1_2/main.cpp
  stud/ershov_7/Lab1/lab1_2/makefile
  stud/ershov_7/Lab1/lab1_2/output
  stud/ershov_7/Lab1/lab1_2/tridiag.hpp
  stud/ershov_7/Lab1/lab1_3/input
  stud/ershov_7/Lab1/lab1_3/iteration.hpp
  stud/ershov_7/Lab1/lab1_3/main.cpp
  stud/ershov_7/Lab1/lab1_3/makefile
  stud/ershov_7/Lab1/lab1_3/matrix.hpp
  stud/ershov_7/Lab1/lab1_3/output
  stud/ershov_7/Lab1/lab1_4/input
  stud/ershov_7/Lab1/lab1_4/main.cpp
  stud/ershov_7/Lab1/lab1_4/makefile
  stud/ershov_7/Lab1/lab1_4/matrix.hpp
  stud/ershov_7/Lab1/lab1_4/output
  stud/ershov_7/Lab1/lab1_4/rotation.hpp
  stud/ershov_7/Lab1/lab1_5/input
  stud/ershov_7/Lab1/lab1_5/main.cpp
  stud/ershov_7/Lab1/lab1_5/makefile
  stud/ershov_7/Lab1/lab1_5/matrix.hpp
  stud/ershov_7/Lab1/lab1_5/output
  stud/ershov_7/Lab1/lab1_5/qr_algo.hpp
  stud/ershov_7/Lab1/matrix.hpp
Labels: ЛР1, Полностью

#81 Ershov Stanislaw: 2.1, 2.2
  stud/ershov_7/Lab2/lab2_1/input
  stud/ershov_7/Lab2/lab2_1/main.cpp
  stud/ershov_7/Lab2/lab2_1/makefile
  stud/ershov_7/Lab2/lab2_1/output
  stud/ershov_7/Lab2/lab2_1/solver.hpp
  stud/ershov_7/Lab2/lab2_2/input
  stud/ershov_7/Lab2/lab2_2/lu.hpp
  stud/ershov_7/Lab2/lab2_2/main.cpp
  stud/ershov_7/Lab2/lab2_2/makefile
  stud/ershov_7/Lab2/lab2_2/output
  stud/ershov_7/Lab2/lab2_2/system_solver.hpp
  stud/ershov_7/Lab2/matrix.hpp
Labels: ЛР2, Полностью

#75 Svoevolin Ivan: 2.1, 2.2
  stud/svoevolin/2-1.cpp
  stud/svoevolin/2-2.cpp
  stud/svoevolin/answer2-1.txt
  stud/svoevolin/answer2-2.txt
  stud/svoevolin/matrix.h
Labels: ЛР2, Полностью

#49 Batulin Evgeniy: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/batulin/lab1/1.1.cpp
  stud/batulin/lab1/1.2.cpp
  stud/batulin/lab1/1.3.cpp
  stud/batulin/lab1/1.4.cpp
  stud/batulin/lab1/1.5.cpp
Labels: ЛР1, Полностью
