Repository calculation-methods/M8O-303B-21, pull requests merged in 2024-04, with the labels that each got.

#26 Жилин Михаил. Задача 1.3
  stud/zhilin/Lab1/task_1.3/main.cpp
  stud/zhilin/Lab1/task_1.3/main.py
Labels: ЛР1, Частично

#28 Хрушкова Валерия, lab1, #1.1
  stud/khrushkova/Lab1/task_1.1/input.txt
  stud/khrushkova/Lab1/task_1.1/main.cpp
  stud/khrushkova/Lab1/task_1.1/output.txt
Labels: ЛР1, Частично

#23 Ershov Stanislaw, lab 1, #1
  stud/ershov/Lab1/task_1.1/input
  stud/ershov/Lab1/task_1.1/lu.hpp
  stud/ershov/Lab1/task_1.1/main.cpp
  stud/ershov/Lab1/task_1.1/makefile
  stud/ershov/Lab1/task_1.1/matrix.hpp
Labels: ЛР1, Частично

#37 Tysyachnyj Vladyslav: 1.1 - 1.5
  stud/Tysyachnyj/Lab1/task_1.1/Lab_1.cpp
  stud/Tysyachnyj/Lab1/task_1.2/Lab_1.2.cpp
  stud/Tysyachnyj/Lab1/task_1.3/Lab_1.3.cpp
  stud/Tysyachnyj/Lab1/task_1.4/Lab_1.4.cpp
  stud/Tysyachnyj/Lab1/task_1.5/Lab_1.5.cpp
Labels: ЛР1, Полностью

#27 trofimov vladislav olegovich lab1.1,lab1.2
  stud/trofimov_24/lab1/lab1_1/Makefile
  stud/trofimov_24/lab1/lab1_1/main
  stud/trofimov_24/lab1/lab1_1/main.cpp
  stud/trofimov_24/lab1/lab1_1/matrix.cpp
  stud/trofimov_24/lab1/lab1_1/matrix.hpp
  stud/trofimov_24/lab1/lab1_2/Makefile
  stud/trofimov_24/lab1/lab1_2/main
  stud/trofimov_24/lab1/lab1_2/main.cpp
  stud/trofimov_24/lab1/lab1_2/matrix.cpp
  stud/trofimov_24/lab1/lab1_2/matrix.h
Labels: ЛР1, Частично

#33 Zvereva Elizaveta: 1.1-1.5
  stud/zvereva/Lab1/task_1.1/main.cpp
  stud/zvereva/Lab1/task_1.2/main.cpp
  stud/zvereva/Lab1/task_1.3.1/main.cpp
  stud/zvereva/Lab1/task_1.3.2/main.cpp
  stud/zvereva/Lab1/task_1.4/main.cpp
  stud/zvereva/Lab1/task_1.5/main.cpp
Labels: ЛР1, Полностью

#30 Svoevolin Ivan: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/svoevolin/exercise_2/2.cpp
  stud/svoevolin/exercise_2/Makefile
  stud/svoevolin/exercise_2/answer.txt
  stud/svoevolin/exercise_2/column2.txt
  stud/svoevolin/exercise_2/matrix2.txt
  stud/svoevolin/exercise_3/3.cpp
  stud/svoevolin/exercise_3/Makefile
  stud/svoevolin/exercise_3/answer.txt
  stud/svoevolin/exercise_3/column3.txt
  stud/svoevolin/exercise_3/matrix3.txt
  stud/svoevolin/exercise_4/4.cpp
  stud/svoevolin/exercise_4/Makefile
  stud/svoevolin/exercise_4/answer.txt
  stud/svoevolin/exercise_4/matrix4.txt
  stud/svoevolin/exercise_5/5.cpp
  stud/svoevolin/exercise_5/Makefile
  stud/svoevolin/exercise_5/answer.txt
  stud/svoevolin/exercise_5/matrix5.txt
  stud/svoevolin/exersize_1/.gitignore
  stud/svoevolin/exersize_1/1.cpp
  stud/svoevolin/exersize_1/Makefile
  stud/svoevolin/exersize_1/answer.txt
  stud/svoevolin/exersize_1/column1.txt
  stud/svoevolin/exersize_1/matrix1.txt
Labels: ЛР1, Полностью, ?

#31 Grebneva Olga: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/grebneva/task_1/.gitignore
  stud/grebneva/task_1/1.cpp
  stud/grebneva/task_1/Makefile
  stud/grebneva/task_1/answer.txt
  stud/grebneva/task_1/column.txt
  stud/grebneva/task_1/matrix.txt
  stud/grebneva/task_2/.gitignore
  stud/grebneva/task_2/2.cpp
  stud/grebneva/task_2/answer.txt
  stud/grebneva/task_2/col.txt
  stud/grebneva/task_2/matrix.txt
  stud/grebneva/task_3/.gitignore
  stud/grebneva/task_3/3.cpp
  stud/grebneva/task_3/answer.txt
  stud/grebneva/task_3/col.txt
  stud/grebneva/task_3/matrix.txt
  stud/grebneva/task_4/.gitignore
  stud/grebneva/task_4/4.cpp
  stud/grebneva/task_4/answer.txt
  stud/grebneva/task_4/matrix.txt
  stud/grebneva/task_5/.gitignore
  stud/grebneva/task_5/5.cpp
  stud/grebneva/task_5/answer.txt
  stud/grebneva/task_5/matrix.txt
Labels: ЛР1, Полностью

#29 Naumov German: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/naumov/README.md
  stud/naumov/lab1-1/main.cpp
  stud/naumov/lab1-2/main.cpp
  stud/naumov/lab1-3/main.cpp
  stud/naumov/lab1-4/main.cpp
  stud/naumov/lab1-5/main.cpp
Labels: ЛР1, Полностью

#38 Khrushkova Valeria: 1.2 - 1.5
  stud/khrushkova/Lab1/task_1.2/input.txt
  stud/khrushkova/Lab1/task_1.2/main.cpp
  stud/khrushkova/Lab1/task_1.2/output.txt
  stud/khrushkova/Lab1/task_1.3/input.txt
  stud/khrushkova/Lab1/task_1.3/main.cpp
  stud/khrushkova/Lab1/task_1.3/output.txt
  stud/khrushkova/Lab1/task_1.4/input.txt
  stud/khrushkova/Lab1/task_1.4/main.cpp
  stud/khrushkova/Lab1/task_1.4/output.txt
  stud/khrushkova/Lab1/task_1.5/input.txt
  stud/khrushkova/Lab1/task_1.5/main.cpp
  stud/khrushkova/Lab1/task_1.5/output.txt
Labels: ЛР1, Частично

#39 Kuchmistov Dmitriy: 1.1, 1.2, 1.3, 1.4, 1.5
  stud/kuchmistov/README.md
  stud/kuchmistov/lab1-1/main.cpp
  stud/kuchmistov/lab1-2/main.cpp
  stud/kuchmistov/lab1-3/main.cpp
  stud/kuchmistov/lab1-4/main.cpp
  stud/kuchmistov/lab1-5/main.cpp
Labels: ЛР1, Полностью
